* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color: #333;
}

nav a {
  color: white;
  padding: 14px;
  20px;
}

.login {
  color: black;
  background-color: #ddd;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.links a {
  color: #ddd;
  text-decoration: none;
}

.links a:hover {
  background-color: #ddd;
  color: black;
}

nav .login {
  padding: 6px;
  background: #ddd;
  font-size: 20px;
  color: black;
}

nav .login:hover {
  transform: scale(1.5)
}

.links li {
  list-style: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ddd;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .links {
    position: absolute;
    left: 0px;
    height: 88vh;
    top: 12vh;
    z-index: 1;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }

  .links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(+45deg) translate(-5px, -6px);
}

/*end of navbar*/
.contant {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
}

.mySlides {
  width: 100%;
}

.contant .uppderbody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  padding: 30px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 8px;
  border: 2px solid red;
  width: 50%;
  float: left;
  cursor: pointer;
}

.uppderbody:hover {
  background-color: red;
  color: white;
}
.footer {
  background-color: #333;
  padding: 2rem 0 .5rem 0;
}

.fotter-list {
  display: flex;
  justify-content: space-around;
}

.fa:hover {
  opacity: .5;
}
#facebook{
  color: white;
  background-color: #1877F2;
  padding: 10px;
  border-radius: 5%;
 }
#twitter{
  background-color: #1DA1F2;
  padding: 10px;
  border-radius: 5%;
  color: white;
}
#insta {
  padding: 10px;
  color: white;
  border-radius: 5%;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}
#linkedin{
  background-color: #1666C5;
  padding: 10px;
  border-radius: 5%;
  color: white;
}
#youtube{
  background-color: #FF0000;
  padding: 10px;
  border-radius: 5%;
  color: white;
}

.footer-paragraph {
  text-align: center;
}
